*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(88, 233, 160);
    font-family: sans-serif;
}
.btn-width{
    text-align: center;
    margin-top: 20px;
}
.btn{
    height: 45px;
    width: 16%;
    border-radius: 25px;
    margin: 24px;
    font-size: 18px;
    background-color: white;
    font-weight: 400;
    border: none;
    
}
.modal1{
    text-align: center;
    color: rgb(61, 60, 60);
    margin-top: 20px;
}
.hidden{
    display: none;
    color:red;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(31, 192, 111)
}
.modal {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
  
    background-color: white;
    padding: 5rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }
  .modal-main{
      position: absolute;
      top: 52%;

  }
  .modal-1{
    position: absolute;
    top: 52%;

  }
  .modal-2 {
    width: 65%;
    margin-top: -74px;
    height: 74%;
  }
 .h1-class{ 
  font-size: 2.5rem;
  margin-bottom: 4rem;
  margin-top: 1.4rem;
 }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: -0.6rem;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
  p{
      font-size: 1.2rem;
  }

  @media screen and (max-width: 500px){
    .btn {
        height: 45px;
        width: 63%;
        border-radius: 25px;
        margin: 24px;
        font-size: 18px;
        background-color: white;
        font-weight: 400;
        border: none;
    }
  }
  @media screen and (max-width: 500px){
  .modal {
      position: absolute;
      top: 49%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 123%;
      background-color: white;
      padding: 2rem;
      border-radius: 5px;
      box-shadow: 0 3rem 5rem rgb(0 0 0 / 30%);
      z-index: 10;
  }
}
ul{
    list-style-type:circle;
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 20px;
}
li{
    margin-top: 4px; 
    font-weight: 400;
    padding: 5px;
}
.para-1{
    border-bottom: 7px solid #eee;
}
.para{
    font-size: 30px;
    font-weight: 600;
    border-bottom: 7px solid #eee;
    margin-top: 2px;
}
img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    left: 44.5%;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: rgb(255 255 255 / 40%);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgb(0 0 0 / 30%);
    z-index: 10;
}
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
    padding: 5px;
}
th{
    text-align: left;
}

.modal-3{
    width: 54%;
    height: 58%;
    margin-top: -7%;
}

@media screen and (max-width: 500px){
img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    position: relative;
    left: 24.5%;
}
}

@media screen and (max-width: 500px){
.modal-3 {
    width: 85%;
    height: 64%;
    margin-top: 0%;
}
}

@media screen and (max-width: 500px){
.modal-2 {
    width: 92%;
    margin-top: 10px;
    height: 82%;
}
}

@media screen and (max-width: 500px){
.close-modal {
    position: absolute;
    top: -0.8rem;
    right: 0rem;
    
}}
